# -----------------------------------------------------------------------------
# Python: Bytecode, Virtualenvs, Caches, Test Artifacts
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/
.venv/
env/
venv/
pip-wheel-metadata/
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# -----------------------------------------------------------------------------
# Editor/IDE/OS files
# -----------------------------------------------------------------------------
*.swp
*.swo
*.log
*.bak
*~
.idea/
.vscode/
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# Git specific
# -----------------------------------------------------------------------------
*.orig
*.rej
*.patch
*.diff

# -----------------------------------------------------------------------------
# Project specific
# -----------------------------------------------------------------------------

utils/winbindex/
!targets/mrxsmb/fetch_target.py
